<!DOCTYPE html>
<html>
    <head>
        <title>Flask_Jinja2</title>
    </head>
    <body>
        <h1>This is first page that have navigation link for second page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni a beatae, dolor, vitae, repudiandae iste iure voluptate eum dolorum quibusdam cumque id minima eos praesentium? Earum odio veritatis at maiores.</p>
        <br>
        <br>
        <br>
        <a href="{{ url_for('second') }}" >Go to second page</a>
        <!-- The href tag takes the python function of the linked page rendering function -->


    </body>
</html>